.accordion {
  max-width: 400px;
  width: 100%;
}
.accordion-btn {
  background-color: $navy;
  border-radius: 4px;
  border: 1px solid $black;
  width: 100%;
  height: 80px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    border-color: $white;
  }
}
.accordion-details {
  display: flex;
  background-color: $blue;
  height: 0;
  overflow: hidden;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border-radius: 0 0 4px 4px;
}
.accordion-btn__title {
  font-weight: 500;
  font-size: 22px;
}
.accordion-details__p {
  font-size: 20px;
  padding: 20px 20px 0 20px;
}
.accordion--open {
  .accordion-btn {
    border-radius: 4px 4px 0 0;
  }
  .accordion-details {
    height: 140px;
  }
}
// Responsive
@include MobileL {
  .services {
    padding: 100px 0;
  }
  .accordion {
    max-width: 300px;
  }
  .accordion-btn {
    height: 60px;
  }
  .accordion-btn__title {
    font-size: 16px;
  }
  .accordion--open {
    .accordion-details {
      height: 100px;
    }
  }
  .accordion-details__p {
    padding: 10px;
    font-size: 16px;
  }
}
@include MobileMini {
  .accordion--open {
    .accordion-details {
      height: 80px;
    }
  }
  .accordion-btn__title {
    font-size: 14px;
  }
  .accordion-details__p {
    font-size: 14px;
    padding: 4px;
  }
}