// Services Text
.services {
  padding: 100px 0 200px;
  background-color: $green;
}
.services-text {
  display: flex;
  justify-content: space-evenly;
}
// Image
.services-image {
  display: block;
  max-width: 360px;
  width: 100%;
  height: auto;
}
.services-text__image {
  position: relative;
}
.services-text__h2--double {
  position: absolute;
  top: -2px;
  left: -2px;
  color: $black;
  opacity: 0.5;
}
.services-text__h2 {
  font-size: 46px;
  color: $white;
  margin-bottom: 60px;
}
.services-text__accordion {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 4px;
}
// Responsive
@include Laptop {
  .services-text {
    justify-content: space-between;
  }
}
@include Tablet {
  .services-text {
    flex-direction: column;
  }
  .services-text__image {
    text-align: center;
    margin: 0 auto 60px auto;
  }
  .services-text__h2 {
    width: 100%;
  }
  .services-text__accordion {
    align-items: center;
  }
}
@include MobileL {
  .services-text__h2,
  .services-text__h2--double {
    font-size: 28px;
  }
  .services-image {
    max-width: 260px;
  }
}
