// Services Text
.services {
  padding: 100px 0 200px;
  background-color: $green;
}
.services-text {
  display: flex;
  justify-content: space-evenly;
}
.services-text__h2 {
  font-size: 46px;
  color: $white;
}
.services-text__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.services-text__li {
  font-size: 30px;
  color: $white;
}
// Media Query
@include Tablet {
  .services {
    padding: 40px 0 100px;
  }
  .services-text {
    flex-direction: column;
    text-align: center;
  }
  .services-text__h2 {
    font-size: 36px;
    margin-bottom: 80px;
  }
  .services-text__li {
    font-size: 26px;
  }
}
@include MobileL {
  .services-text__h2 {
    font-size: 28px;
    margin-bottom: 60px;
  }
  .services-text__li {
    font-size: 22px;
  }
}
@include Mobile {
  .services-text__h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .services-text__li {
    font-size: 18px;
  }
}
