@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}
body {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
}
.wrapper-xl {
  max-width: 100%;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  @include Mobile {
    padding: 0 20px;
  }
}
.wrapper {
  max-width: 1640px;
  padding: 0 25px;
  margin: 0 auto;
  width: 100%;
  @include Mobile {
    padding: 0 20px;
  }
}
