$white: #eeeeee;
$light-cream: #eeeee4;
$cream: #e3cdb3;
$grey: #484e52;
$charcoal: #31363f;
$navy: #111f28;
$lightgrey: #afb9c5;
$blue: #3d5a73;
$green: #02383c;
$mint: #1f7656;
$teal: #76abae;
$black: #040d12;
