$white: #eeeeee;
$light-cream: #eeeee4;
$cream: #e3cdb3;
$grey: #484e52;
$ash: #344955;
$charcoal: #31363f;
$light-mint: #50727b;
$navy: #111f28;
$lightgrey: #afb9c5;
$blue: #3d5a73;
$green: #02383c;
$mint: #1f7656;
$teal: #76abae;
$black: rgba(0, 0, 0, 0.84);
$secondblack: #1c1c1c;
$offblack: rgba(20, 20, 20, 0.8);
