.projects {
  position: relative;
}
// Projects Image
.projects-image__wrapper {
  position: relative;
}
.projects-image {
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
// Projects Box
.wrapper--projects {
  position: relative;
}
.projects-box {
  background-color: $navy;
  height: 440px;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  outline: 1px solid $white;
  cursor: pointer;
}
// Projects Box Image
.projects-box__image {
  width: 100%;
  max-width: 400px;
  height: auto;
}
// Projects Box Text
.projects-text {
  text-align: center;
  padding: 20px;
}
.projects-text__h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.projects-text__p {
  font-size: 18px;
}
.projects-box__a {
  font-size: 20px;
}
