.projects {
  position: relative;
}
// Projects video
.projects-image__wrapper {
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  overflow: hidden;
}
.projects-image {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  object-fit: cover;
  filter: brightness(0.7);
}
// Projects Box
.wrapper--projects {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: grid;
  padding-top: 40px;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 30px;
}
.projects-box {
  background-color: $blue;
  max-width: 300px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  text-align: center;
  top: 100px;
  cursor: pointer;
  position: relative;
  opacity: 1;
  animation: fadeIn 2s forwards;
  *::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: $green;
    top: 0;
    left: 0;
    border-radius: 8px 8px 0 0;
  }
}
// Projects Box Image
.projects-box__image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  z-index: 1;
  border-radius: 8px;
}
// Projects Box Text
.projects-text {
  padding: 20px 10px 0 10px;
}
.projects-text__h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.projects-text__p {
  font-size: 18px;
  padding: 0 10px;
  margin-bottom: 50px;
}
.projects-box__a {
  font-size: 20px;
  padding: 20px 20px;
}
