.projects {
  min-height: 100dvh;
  padding: 80px 0;
  background: $offblack;
}
.projects__title {
  margin-bottom: 100px;
}
.wrapper--projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 1200px;
  @include MobileL {
    .wrapper--projects {
      grid-template-columns: 1fr;
    }
  }
}
.projects-box {
  background-color: $grey;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: darken($grey, 5%);
  }
}
.projects-box__image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.projects-text {
  color: $white;
}
.projects-text__h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 12px;
  color: lighten($white, 10%);
}
.projects-text__p {
  font-size: 1rem;
  line-height: 1.5;
  color: lighten($white, 20%);
  margin-bottom: 20px;
}
.projects-box__a {
  font-size: 0.9rem;
  color: $white;
  text-decoration: none;
  padding: 10px 16px;
  border: 2px solid lighten($white, 10%);
  border-radius: 6px;
  background-color: $offblack;
  transition: all 0.3s ease;
  &:hover {
    background-color: lighten($offblack, 10%);
    border-color: $white;
    color: $white;
  }
}
.cta--link__github {
  font-size: 16px;
  margin-bottom: 40px;
  width: fit-content;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding: 6px 8px;
  gap: 10px;
  .github-icon {
    font-size: 24px;
  }
}
.cta--link__website {
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 2px;
  .awesome-icon {
    font-size: 26px;
  }
}
