.contact {
  background-color: $offblack;
  min-height: 100dvh;
}
.wrapper--contact {
  padding: 80px 0;
}
// Text
.contact-text__container {
  margin-bottom: 200px;
  text-align: center;
}
.contact-text__h2 {
  font-size: 46px;
  color: $white;
  font-weight: 500;
  letter-spacing: 4px;
  margin-bottom: 40px;
}
.contact-text__p {
  font-size: 22px;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
  color: $white;
}
// Form and Inputs
.contact-form__content {
  display: flex;
  flex-flow: column;
  gap: 14px;
  width: 100%;
  max-width: 50%;
}
.contact-form__h2 {
  color: $white;
  font-size: 40px;
  margin: 0 0 14px 0;
}
.contact-form {
  display: block;
}
.contact-input {
  display: block;
  padding: 16px 12px;
  width: 100%;
  border: 1px solid $white;
  color: $white;
  border-radius: 4px;
  background: transparent;
  font-weight: bold;
  &::placeholder {
    color: $white;
  }
}
input,
textarea {
  background-color: transparent;
  color: $white;
  border: 1px solid #333;
  transition: border-color 0.3s, background-color 0.3s;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: #666;
  background-color: transparent;
}
.contact-submit__btn {
  max-width: fit-content;
}
// Media Query
@include Laptop {
  .wrapper--contact {
    padding: 80px 0;
  }
  .contact-text__h2 {
    font-size: 36px;
    &::before {
      bottom: -2px;
    }
  }
}
@include Tablet {
  .contact-text__h2 {
    font-size: 32px;
  }
}
@include MobileL {
}
