.navigation {
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 76px;
  display: flex;
  background-color: transparent;
  animation: fadeIn 2s normal;
  opacity: 1;
}
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: $grey;
}
::-webkit-scrollbar-thumb {
  background: $lightgrey;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(120, 120, 120);
  cursor: pointer;
}
.navigation--fixed {
  position: fixed;
  background-color: $black;
  animation: slideDown 1.5s normal;
}
.navigation__wrapper {
  align-self: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  width: 100%;
}
.navigation__ul {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
  align-items: center;
}
// Hamburger Menu
.hamburger {
  margin-left: auto;
  display: none;
  background: transparent;
  overflow: hidden;
  cursor: pointer;
}
.hamburger-line {
  display: flex;
  flex-direction: column;
  width: 34px;
  height: 4px;
  background-color: $white;
  border-radius: 2px;
  margin: 6px 0;
  transition: 0.4s;
}
.hamburger-line--1 {
  width: 28px;
}
.hamburger-line--3 {
  width: 24px;
}
.hamburger--opened {
  .hamburger-line--1 {
    transform: translate(0, 10px) rotate(-45deg);
    width: initial;
  }
  .hamburger-line--2 {
    transform: translateX(110%);
  }
  .hamburger-line--3 {
    width: initial;
    transform: translate(0, -10px) rotate(45deg);
  }
}
// Navigation Menu Opened
.navigation--opened {
  .navigation__ul {
    padding-top: 100px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: absolute;
    width: 100%;
    background-color: rgb(20, 20, 20);
    top: 80px;
    left: 0;
    .navigation__link {
      font-size: 20px;
    }
  }
}
// Responsive
@include LaptopXL {
  .navigation__link {
    font-size: 16px;
  }
}
@include Landscape {
  .navigation {
    height: 60px;
  }
  .navigation--opened {
    .navigation__ul {
      top: 60px;
      .navigation__link {
        font-size: 18px;
      }
    }
  }
}
@include Laptop {
  .navigation__ul {
    column-gap: 20px;
  }
}
@include Tablet {
  .navigation__ul {
    display: none;
  }
  .navigation--opened {
    .navigation__ul {
      display: flex;
      top: 60px;
    }
  }
  .hamburger {
    display: block;
  }
}
@include MobileL {
  .navigation {
    height: 56px;
  }
  .navigation--opened .navigation__ul {
    top: 40px;
    .navigation__link {
      font-size: 18px;
    }
  }
}
