.projects-preview {
  padding: 500px 0;
}
.projects-wrapper {
  display: flex;
}
.projects-preview-text {
  width: 100%;
}
.projects-preview-text__title {
  margin-bottom: 40px;
  color: $black;
}
.projects-preview-text__paragraph {
  margin-bottom: 20px;
  color: $black;
}
// Slider Image
.slider-image {
  height: auto;
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  object-fit: cover;
}
// Swiper Controls
.projects-btn__wrapper {
  display: flex;
  column-gap: 40px;
}
.projects-preview-btn {
  z-index: 99;
  font-size: 44px;
  background: none;
  cursor: pointer;
}
