.footer {
  background-color: $offblack;
  padding: 10px 0;
  border-top: 1px solid $white;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo__year {
  color: $white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}
.footer-logo__year--md {
  display: none;
}
.footer-logo {
  display: block;
  display: flex;
  flex-direction: column;
}
.footer-text {
  display: flex;
  flex-flow: column;
}
.footer-text__ul {
  list-style: none;
  display: flex;
  align-self: center;
  column-gap: 20px;
}
.footer-socials {
  display: flex;
  gap: 20px;
}
@include Tablet {
  .footer {
    padding: 20px 0 4px;
  }
  .footer-content {
    flex-flow: column;
    align-items: baseline;
  }
  .footer-text__ul {
    flex-flow: column;
    gap: 16px;
  }
  .footer-logo__year {
    display: none;
  }
  .footer-logo__year--md {
    display: block;
  }
}
@include MobileL {
  .footer-content {
    align-items: center;
  }
  .footer-text__ul {
    text-align: center;
  }
  .footer-socials {
    justify-content: center;
  }
}
