.footer {
  background-color: $mint;
  padding: 10px 0;
}
.wrapper--footer {
  display: flex;
  justify-content: space-between;
}
.footer-logo__year {
  color: $white;
  font-size: 14px;
  text-align: center;
}
.footer-logo {
  display: block;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.footer-text {
  display: flex;
}
.footer-text__ul {
  list-style: none;
  display: flex;
  align-self: center;
  column-gap: 20px;
  margin: 0;
}
